@model MyApp.Models.MapAPIViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set yourself</title>
    <style>
        /* 設置整個頁面的背景為藍白色漸層 */
        html, body 
        {
            background: linear-gradient(#6A5ACD, #ADD8E6); /* 從左到右的漸層顏色 */
            display: flex; /* 使用Flexbox佈局 */
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
            height: 100%; /* 設置高度為100%的視口高度 */
            margin: 0; /* 移除默認的頁面外邊距 */
            font-family: Arial, sans-serif; /* 設置字體 */
        }

        /* 登錄按鈕的樣式 */
       .BackHome button
        {
            width: 100%; /* 寬度100% */
            padding: 10px; /* 內邊距為10px */
            border: 2px solid #2828FF; /* 無邊框 */
            border-radius: 5px; /* 圓角邊框 */
            background-color: #FFFF37; /* 背景顏色 */
            color: white; /* 文字顏色 */
            font-size: 16px; /* 字體大小 */
            cursor: pointer; /* 滑鼠指針樣式 */
            margin-top: 4px; /* 上方外邊距為5px */
        }

        /* 登錄按鈕的懸停效果 */
        .BackHome button:hover 
        {
            background-color: #5A4CBD; /* 懸停時的背景顏色 */
        }
    </style>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">歡迎登入成功</h1>
        <p>這是一個測試網頁，內容待訂</p>
        <form asp-action="BackHome" method="post">
            <button type="submit" class="btn btn-primary">Back Home</button>
        </form>
    </div>
</body>
</html>
